.timerBtn {
    width: 80px;
    font-family: consolas; margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid #181b1f;
    border-radius: 25px;
    background-color: #007BFF;
    color:white
}
.timerBtn:hover {
    background-color: #0056b3;
}
#timeDisplay {
    font-size: 78px;
    font-family: consolas;
    margin-top: 20px;
}
#timeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title {
    font-size: 78px;
    font-family: consolas;
    margin-bottom: 20px;
    align-items: center;
}
body {
    background-color: turquoise;
}
